version: '3.7'

services:
  users:
    build: ./Users/
    command: logic.py
    ports:
      - 3000:80
    working_dir: /Users

  test:
    build: ./test/
    working_dir: /test
    command: sh -c "pytest -v -s test_users.py"
   # entrypoint: sh -c "pytest"
   # command: sh -c "pip3 install -r requirements.txt --no-cache-dir && pytest"
    network_mode: host


